/* body */
body {
  margin: 0;
  width: 100%;
  height: 1626px;
}
/* CONTAINER */

.container {
  font-family: "Montserrat";
  font-style: normal;

  letter-spacing: 2.7px;
  width: 100%;
  max-width: 1280px;
  background: rgba(0, 0, 0, 0.0001);
  margin: 0 auto;
}

/* header */
.header {
  text-transform: uppercase;
  align-items: center;
}

/* Nav */
.nav {
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav_list_item {
  display: inline-block;
  margin-left: 72px;
  margin-right: 72px;
}

.nav-link {
  color: rgba(255, 0, 0, 1);
  text-decoration: none;
  font-weight: 700;
}
/* main */

.main {
  align-items: center;
  line-height: 27px;
  letter-spacing: 2.7px;
  text-align: center;
  padding-bottom: 28px;
}
.main-png {
  width: 100%;
}
.main-title {
  width: 100%;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 49px;
  padding-bottom: 38px;
  font-size: 22px;
  font-weight: 700;
}
.main_text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 28px;
}

.btn {
  margin-top: 66px;
  border-radius: 4px;

  display: inline-block;
  vertical-align: top;
  color: rgba(255, 255, 255, 1);
  padding: 18px 42px;
  background-color: rgba(255, 0, 0, 1);
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  /* footer */
}
.copyrigt {
  padding-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: right;
}
.copyrigt_txt {
  padding-top: 82px;
  font-size: 16px;
}
